*
!.gitignore
!images/
!images/logo.png
!images/hero-1.png
!images/hero-2.png
!images/kulcsmasolas.png
!images/cipojavitas.png
!images/gravirozas.png
!images/keselezes.png
!images/belepteto-bileta.jpg
!images/gravirozas-1.jpg
!images/lakaskulcsok.jpg
!images/4790.jpg
!images/chip-kulcs.jpg
!images/muszaki-cikkek.png
!images/kulcsmasolo-uzlet.webp
!images/bg/
!images/bg/**
!images/icons/
!images/icons/**
!images/dsp.png
!images/neum.png
